@import "~normalize.css";
@import "~@blueprintjs/core/lib/css/blueprint.css";
@import "~@blueprintjs/icons/lib/css/blueprint-icons.css";

.auth-form {
  margin-top: 10px;
}

body {
  margin: 0;
  margin-top: 10;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #13163F;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

h1 {
  color: #8AA8F0;
  text-align: center;
}

a {
  color: #8AA8F0;
  padding: 2rem;
}

.navbar {
  height: 80px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1.2rem;
  width: 100%;
}

.MuiCard-root {
  margin: 1rem;
}

.etusivu-container {
  display: flex;
  color: black;
}

.loader {
  margin: 100px auto;
}

.varauslista {
  height: 650px;
  background-color: #99eeff;
  border-radius: 30px;
  max-width: 650px;
  width: 100%;
  text-align: center;
}

.varauslista-otsikko {
  font-weight: 400;
  font-style: normal;
  font-family: "Koulen", serif;
  color: #13163F;
  font-size: 40px;
  letter-spacing: 0px;
}

.varauslista-lista {
  width: 90%;
  height: 470px;
  background-color: #13163f;
  overflow: hidden;
  border-radius: 12px;
  margin: 0 auto;
}